body{
    background-image: url(pen5.jpeg);
    background-repeat: no-repeat;
    background-size: 1280px 600px;
}
form{
    border: solid 1px white hidden;
    width: 1500px;
    padding-left: 10px;
    margin-right: 100px;
}
h1{
    color: azure;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
label{
    color: beige;
    font-size: 22px;
    font-weight: bold;
}
input{
    height: 26px;
    width: 350px;
    border-radius: 20px;
}
textarea{
    width: 350px;
}
button{
    height: 50px;
    width: 150px;
    background-color: goldenrod;
    font-size: 22px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
button:hover{
    background-color: darkgreen;
}